# Просмотр существующих соседей OSPF
Value NEIGHBOR_ID ([0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3})
Value PRIORITY (\d{1,3})
Value STATE (\S+)
Value DEAD_TIME (\d{1,3}.\d+)
Value ADDRESS ([0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3})
Value INTERFACE (enp\d+s\d+)
Value FROM ([0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3})

Start
  ^${NEIGHBOR_ID}\s+${PRIORITY}\s+${STATE}\s+${DEAD_TIME}s\s+${ADDRESS}\s+${INTERFACE}:${FROM} -> Record